/**
 * SASS File: 		buttonplate.sass
 * Author:        	Chris Humboldt
 * Link:			http://getwebplate.com/plugins/buttonplate
 * Last Edited:   	13 January 2014
 * Edited By:		Chris Humboldt
 */
.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: none;
  text-decoration: none;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  color: #666666;
  background-color: #ebebeb;
  padding: 0px 22px;
  height: 38px;
  line-height: 38px;
  font-size: 0.875em;
}
.button:hover {
  cursor: pointer;
}
.button:active:not(.drop-down-open) {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4);
  text-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0;
}
.button:hover {
  background-color: whitesmoke;
}
.button:active {
  background-color: #ebebeb;
}
.button:visited {
  color: #666666;
}
.button ul {
  display: none;
  position: absolute;
  padding: 0px;
  margin: 4px 0px;
  margin-left: -22px;
  line-height: 34px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}
.button ul li {
  padding: 0px;
  margin: 0px;
}
.button ul li:first-child a {
  border-radius: 3px 3px 0px 0px;
  -o-border-radius: 3px 3px 0px 0px;
  -ms-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
}
.button ul li:last-child a {
  border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
}
.button ul li.line-top {
  border-top: 1px solid #e6e6e6;
}
.button ul li.line-bottom {
  border-bottom: 1px solid #e6e6e6;
}
.button ul li a {
  display: block;
  padding: 0px 22px;
  height: 34px;
  font-size: 0.875em;
  line-height: 34px;
  text-align: left;
  color: #333333;
  text-decoration: none;
  vertical-align: middle;
}
.button ul li a:hover {
  color: white;
  background-color: #3498da;
}

.button.black {
  color: white;
  background-color: #333333;
}
.button.black:hover {
  background-color: #595959;
}
.button.black:visited {
  color: white;
}
.button.black:active {
  color: #000;
  text-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0;
  background-color: #404040;
}

.button.blue {
  color: white;
  background-color: #3498da;
}
.button.blue:hover {
  background-color: #2ea9fa;
}
.button.blue.drop-down-open:hover {
  background-color: #3498da;
}
.button.blue:active:not(.drop-down-open) {
  color: #1b6697;
  background-color: #3498da;
}

.button.blue-dark {
  color: white;
  background-color: #34495e;
}
.button.blue-dark:hover {
  background-color: #235688;
}
.button.blue-dark.drop-down-open:hover {
  background-color: #34495e;
}
.button.blue-dark:active:not(.drop-down-open) {
  color: #131b23;
  background-color: #34495e;
}

.button.green {
  color: white;
  background-color: #27ae60;
}
.button.green:hover {
  background-color: #20cf6a;
}
.button.green.drop-down-open:hover {
  background-color: #27ae60;
}
.button.green:active:not(.drop-down-open) {
  color: #166337;
  background-color: #27ae60;
}

.button.yellow {
  color: white;
  background-color: #f1c40f;
}
.button.yellow:hover {
  background-color: #ffd21b;
}
.button.yellow.drop-down-open:hover {
  background-color: #f1c40f;
}
.button.yellow:active:not(.drop-down-open) {
  color: #9b7e09;
  background-color: #f1c40f;
}

.button.orange {
  color: white;
  background-color: #e57e22;
}
.button.orange:hover {
  background-color: #ff8a22;
}
.button.orange.drop-down-open:hover {
  background-color: #e57e22;
}
.button.orange:active:not(.drop-down-open) {
  color: #995212;
  background-color: #e57e22;
}

.button.red {
  color: white;
  background-color: #e74c3c;
}
.button.red:hover {
  background-color: #ff503e;
}
.button.red.drop-down-open:hover {
  background-color: #e74c3c;
}
.button.red:active:not(.drop-down-open) {
  color: #b12416;
  background-color: #e74c3c;
}

.button.aqua {
  color: white;
  background-color: #1abc9c;
}
.button.aqua:hover {
  background-color: #1bd9b4;
}
.button.aqua.drop-down-open:hover {
  background-color: #1abc9c;
}
.button.aqua:active:not(.drop-down-open) {
  color: #0f6b59;
  background-color: #1abc9c;
}

.button.purple {
  color: white;
  background-color: #9b59b6;
}
.button.purple:hover {
  background-color: #b34bde;
}
.button.purple.drop-down-open:hover {
  background-color: #9b59b6;
}
.button.purple:active:not(.drop-down-open) {
  color: #68377c;
  background-color: #9b59b6;
}
