/**
 * SASS File: 		demo.scss
 * Type: 			execute
 * Author:        	Chris Humboldt
 * Last Edited:   	25 September 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Imports
// Demo styles


// Import
// ---------------------------------------------------------------------------------------
@import "../bower_components/blueplate/sass/blueplate.scss";


// Demo styles
// ---------------------------------------------------------------------------------------
@include global-setup();

body {
	@include no-spacing();
}

// Container
.container {
	@include limit();
	padding: 20px 20px;
	padding-bottom: $space-large;

	@include respond-to(large) {
		padding: 40px 20px;
		padding-bottom: $space-x-large;
	}
}

// Blocks
.block {
	@include row();

	.confine {
		@include span(12);

		@include respond-to(large) {
			@include new-span(6);
		}
	}
}

// Headings
h3 {
	padding-top: $space-large;
}

// Buttons
.button {
	margin-top: $space-small;
}